
<body class="text-center">


    <form class="form-signin" method="post" action="">
        <img class="mb-4" src="~/images/uslogo.jpg" alt="">
        <h1 class="h3 mb-3 font-weight-normal">Registrarse</h1>
        <input asp-for="NombreUsuario" id="inputName" type="text" placeholder="Nombre"
               class="form-control" maxlength="20" />
        <span asp-validation-for="NombreUsuario" class="text-danger"></span>
        <input asp-for="ApellidoUsuario" id="inputLastName" type="text" placeholder="Apellido"
               class="form-control" maxlength="20" />
        <span asp-validation-for="ApellidoUsuario" class="text-danger"></span>
        <input asp-for="DNIUsuario" id="inputDni" type="number" placeholder="D.N.I."
               class="form-control" maxlength="8" />
        <span asp-validation-for="DNIUsuario" class="text-danger"></span>
        <input asp-for="EmailUsuario" id="inputEmail" type="email" placeholder="Email"
               class="form-control" maxlength="40" />
        <span asp-validation-for="EmailUsuario" class="text-danger"></span>
        <input asp-for="PasswordUsuario" id="inputDni" type="password" placeholder="Contraseña"
               class="form-control" maxlength="50" />
        <span asp-validation-for="PasswordUsuario" class="text-danger"></span>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button id="btnRegister" class="btn btn-lg btn-primary btn-block" type="submit" >Registrarse</button>
        <a href="../Home/Index">Ya tienes una cuenta? Inicia sesión aquí</a>         
    </form>
</body>



<!-- Modal -->
<div class="modal fade" id="modalForm" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Contact Form</h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <p class="statusMsg"></p>
                <form role="form">
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary submitBtn" onclick="submitContactForm()">SUBMIT</button>
            </div>
        </div>
    </div>
</div>

@code {
    RegisterModel registerModel = new RegisterModel();


}
