@page
@model UniversitySimulator.Pages.RegisterModel
@{
}


<body class="text-center">
    @if (Html.ViewData["flag"] != null)
    {
        @if (Boolean.Parse(Html.ViewData["flag"].ToString()) == false)
        {
            <script>
                swal("Error al registrar el usuario");
            </script>
        }

    }

    <form class="form-signin" method="post" action="">

        <img class="mb-4" src="~/images/uslogo.jpg" alt="">
        <h1 class="h3 mb-3 font-weight-normal">Registrarse</h1>
        <input asp-for="NombreUsuario" id="inputName" type="text" placeholder="Nombre"
               class="form-control" maxlength="20" />
        <span asp-validation-for="NombreUsuario" class="text-danger"></span>
        <input asp-for="ApellidoUsuario" id="inputLastName" type="text" placeholder="Apellido"
               class="form-control" maxlength="20" />
        <span asp-validation-for="ApellidoUsuario" class="text-danger"></span>
        <input asp-for="DNIUsuario" id="inputDni" type="number" placeholder="D.N.I."
               class="form-control" maxlength="8" />
        <span asp-validation-for="DNIUsuario" class="text-danger"></span>
        <input asp-for="EmailUsuario" id="inputEmail" type="email" placeholder="Email"
               class="form-control" maxlength="40" />
        <span asp-validation-for="EmailUsuario" class="text-danger"></span>
        <input asp-for="PasswordUsuario" id="inputDni" type="password" placeholder="Contraseña"
               class="form-control" maxlength="50" />
        <span asp-validation-for="PasswordUsuario" class="text-danger"></span>

        <span class="text-danger">@Html.DisplayFor(m => m.ErrorServidor)</span>

        <button id="btnRegister" class="btn btn-lg btn-primary btn-block" type="submit">
            Registrarse
        </button>
        <a href="../Home/Index">Ya tienes una cuenta? Inicia sesión aquí</a>






    </form>
</body>




