@page ""
@model UniversitySimulator.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>University Simulator</title>


</head>
<body class="text-center">

    <form class="form-signin">
        <img class="mb-4" src="~/images/uslogo.jpg" alt="">
        <h1 class="h3 mb-3 font-weight-normal">Iniciar Sesion</h1>        
        <input asp-for="usuarioService.usuario.Email" id="inputEmail" type="email" placeholder="Email"
               class="form-control" maxlength="40" />
        <span asp-validation-for="usuarioService.usuario.Email" class="text-danger"></span>
        <input asp-for="usuarioService.usuario.Password" id="inputDni" type="text" placeholder="D.N.I."
               class="form-control" maxlength="50" />
        <span asp-validation-for="usuarioService.usuario.Password" class="text-danger"></span>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesion</button>
        <a href="../Register/Register">No tienes una cuenta? Registrate aquí</a>

    </form>



</body>
</html>
