@page
@model UniversitySimulator.Pages.Home.PrincipalModel
@{
}


<div class="text-center container">
    <h1>Noticias</h1>
    <p class="lead text-muted">
        ¡Mantenete al tanto de lo que sucede en nuestra universidad!
    </p>
</div>

<div class="row mb-2">
    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <h3 class="mb-0">Avance del sitio web</h3>
                <div class="mb-1 text-muted">29 de Abril</div>
                <p class="card-text mb-auto">
                    A partir del día de la fecha ya contamos con la página principal de noticias.
                    Aquí informaremos sobre todas las novedades de nuestra querida universidad
                </p>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="~/images/ok.png" width="200" height="250"/>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <h3 class="mb-0">Comienza University Simulator</h3>
                <div class="mb-1 text-muted">1 de Febrero</div>
                <p class="mb-auto">
                    Con el sorpresivo cierre de McAfee, el desarrollador Francisco Zapata ha comenzado a realizar el sitio web de 
                    nuestra Universidad, esperamos que pueda terminarlo pronto!
                </p>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="~/images/inicioUS.JPG" width="200" height="250" />
            </div>
        </div>
    </div>
</div>